*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--mainreg: "playregular", sans-serif;
	--mainbold: "playbold", sans-serif;
}

@font-face {
	font-family: "playregular";
	src: url("../fonts/play-regular-webfont.woff2") format("woff2"),
		url("../fonts/play-regular-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "playbold";
	src: url("../fonts/play-bold-webfont.woff2") format("woff2"),
		url("../fonts/play-bold-webfont.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	position: relative;
	background-color: #f7f7f7;
}

nav {
	position: relative;
	// height: 100px;
	background-color: #141313;
	font-family: var(--mainreg);
	font-size: 24px;
	text-transform: uppercase;
	img {
		position: absolute;
		transform: translateY(-65%);
		height: 60px;
	}
	.nav-link {
		color: #ffff;
	}
	i,
	.nav-link:hover {
		color: rgb(56, 170, 52);
	}
	.navbar-brand {
		font-weight: bold;
	}
	.active {
		color: rgb(56, 170, 52);
	}
	.nav-link.disabled {
		color: rgba(173, 173, 173, 1);
	}
	.fa-bars {
		padding: 10px;
		color: aliceblue;
	}
}
